**/*.cache
**/*.exe
**/*.pdb
**/*.suo
**/*.testlog
**/*.tmp
**/*.vsidx
**/*.zip
**/*.dll
*.tmp
**/.suo
*.cache
*.dll
*.exe
*.pdb
*.suo
*.testlog
*.vsidx
*.zip
.suo
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
.vs/SharpTools/v17/.suo
